<header class="header">
  <hgroup>
  <h1>
  <a href="/">Sam J Griffin</a>
  </h1>
  <h2>
  <a href="/">Full Stack Developer</a>
  </h2>
  </hgroup>
  <nav id="primaryNav" class="navigation">
    <ul>
      <li>
        <a href="/travel">Travel</a>
      </li>
      <li>
        <a href="/dev-posts">Tech & Coding</a>
      </li>
      <li>
        <a href="https://github.com/samjgriffin89">Projects</a>
      </li>
      <li>
        <a href="https://gist.github.com/samjgriffin89">Code Snippets</a>
      </li>
    </ul>
  </nav>
</header>