<header class="header">
  <hgroup>
  <h1>
  <a href="{{site.base_url}}">Sam J Griffin</a>
  </h1>
  <h2>
  <a href="{{site.base_url}}">Full Stack Developer</a>
  </h2>
  </hgroup>
  <nav id="primaryNav" class="navigation">
    <ul>
      <li>
        <a href="{{site.base_url}}">Home</a>
      </li>
      <li>
        <a href="{{site.base_url}}/posts">Blog</a>
      </li>
      <li>
        <a href="https://github.com/samjgriffin89">Projects</a>
      </li>
      <li>
        <a href="https://gist.github.com/samjgriffin89">Code Snippets</a>
      </li>
    </ul>
  </nav>
</header>