<nav>
	<div class="nav-wrapper">
		<a href="#" data-target="side-nav" class="display-always sidenav-trigger btn">
		<i class="material-icons menu-icon">menu</i></a>
	</div>
</nav>
<div id="side-nav" class="sidenav">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/foodpics">Food Pics</a>
		</li>
		<li>
			<a href="/dev-posts">Tech & Coding</a>
		</li>
		<li>
			<a href="https://github.com/samjgriffin89">Projects</a>
		</li>
		<li>
			<a href="https://gist.github.com/samjgriffin89">Code Snippets</a>
		</li>
	</ul>
</div>