<nav>
	<div class="nav-wrapper">
		<a href="#" data-target="side-nav" class="display-always sidenav-trigger btn">
		<i class="material-icons menu-icon">menu</i></a>
	</div>
</nav>
<div id="side-nav" class="sidenav">
	<section class="about-me">
		<div class="about-me--img center-align">
			<a href="/">
				<img width="400" src="/images/headshot.jpeg" alt="Sam Griffin" />
			</a>
		</div>
		<div class="social-icons center-align">
			<ul>
				<li>
					<a class="waves-effect waves-light social-icon btn linkedin" href="https://www.linkedin.com/in/sam-griffin-89b23014/">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light social-icon btn twitter" href="https://twitter.com/flannelchannel3">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light social-icon btn instagram" href="https://www.instagram.com/samjgriffin3/">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light social-icon btn github" href="https://github.com/samjgriffin89">
						<i class="fa fa-github"></i>
					</a>
				</li>
			</ul>
		</div>
		<aside class="about-me--content">
			{% include about-me.html %}
		</aside>
	</section>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/foodpics">Food Pics</a>
		</li>
		<li>
			<a href="/dev-posts">Tech & Coding</a>
		</li>
		<li>
			<a href="https://github.com/samjgriffin89">Projects</a>
		</li>
		<li>
			<a href="https://gist.github.com/samjgriffin89">Code Snippets</a>
		</li>
	</ul>
</div>