<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sam J Griffin | {{ page.title }}</title>
    <meta property="og:title" content="{{ site.meta_title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="https://samjgriffin.com/images/me_at_the_dunes.jpg" />

    <meta name="description" content="{{ site.description }}" >
    <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="/feed.xml">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5900554232149700",
        enable_page_level_ads: true
      });
    </script>
  </head>