<!DOCTYPE html>
<html lang="en">
  <head>
    {% include analytics.html %}
    
    <title>Sam J Griffin | {{ page.title }}</title>
    <meta charset="utf-8">
    <meta property="og:title" content="{{ site.meta_title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="https://samjgriffin.com/images/me_at_the_dunes.jpg" />

    <meta name="description" content="{{ site.description }}" >
    <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/main.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>