.homepage {
	h1 {
		color: $royalBlue;
		font-family: staatliches;
		font-size: 5rem;
		margin: 0;
	}

	h2 {
		color: $tangerine;
		font-size: 2.5rem;
		font-family: lobster;
		margin: 0;
	}
}