html {
    height: 100%;
    width: 100%;
    background: url(/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    width: 100%;
}

@include bp(tablet){
    body {
        padding-bottom: 50px;
    }
}

a {
    color: $tangerine;
}

.main-content {
    padding: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, .7);

    .page-title {
    	width: 85%;
    	margin: 0 auto;
    	font-size: 2em;
    }

    p {
        line-height: 1.5;
    }
}