html {
    height: 100%;
    width: 100%;
    background: url(/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    width: 100%;
}

@include bp(tablet){
    body {
        padding-bottom: 50px;
    }
}

a {
    color: #3f99f7;

    &:hover {
        color: #fff;
    }
}

input {
    color: #9e9e9e;
}

.main-content {
    padding: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, .7);

    .page-title {
    	width: 85%;
    	margin: 0 auto;
    	font-size: 3em;
        font-family: staatliches;
    }

    p {
        line-height: 1.5;
    }
}

.wishlist {
    font-size: 2rem;

    a {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
}