nav {
	background: none;
	box-shadow: none;

	margin-top: 1.5rem;

	.nav-wrapper a.btn {
		margin-left: 0;
		background-color: #273f87 !important;
	}

	@media only screen and (min-width: 200px) {
		nav .sidenav-trigger i, .nav-wrapper a.btn, .menu-icon {
			height: 3.5rem !important;
			line-height: 2.5rem !important;
			font-size: 2.5rem !important;
		}
	}
}

.sidenav {
	width: 100%;

	@include  bp(tablet) {
		width: 35rem;
	}

	background: rgba(0, 0, 0, .75);

	li a {
		color: #fff;
		font-family: "staatliches";
		font-size: 2.5rem;
	}

	.about-me--img {
		margin-top: 3rem;

		img {
			width: 120%;
		}
	}

	.about-me--content {
		color: #fff;
		margin: 0 6rem 2rem;
	}
}