.header {
	width: 96%;
	padding: 10px 2%;
	overflow: hidden;
	z-index: 10;
	background: $primaryColor;
	border-bottom: 1px solid $borderColor;

	h1 {
		margin: 5px 0 0;

        a {
            color: #fff;
        }
	}

	h2 {
		font-size: 12px;
		margin-top: 0;
		text-transform: uppercase;

		a { color: #000; }
	}

	@include bp(tablet) {
		hgroup {
			float: left;
		}
	}
}

.navigation {
	overflow: hidden;

	@include bp(tablet) {
		float: right;
		margin-top: 25px;
	}
	
	ul {
		margin: 0;
		padding: 0;

		@include bp(tablet) {
			display: block;
			position: relative;
		}
	}

	li {
		display: inline-block;
		padding: 7px 5px 7px 0;
		line-height: 18px;
		
		+ li {
			padding: 7px 5px;
		}

		a {
			color: #000;
			font-size: 15px;
			font-family: 'cooper_hewittmedium';
			text-transform: uppercase;
			text-decoration: none;
			border: 2px solid transparent;
			transition: color 0.3s ease;

			&:hover {
				color: #fff;
			}
		}

		@include bp(tablet) {
			padding: 7px 14px;

			a {
				font-size: 20px;
			}
		}
	}	
}