{% include top.html %}
  <body>
    {% include navigation-sidebar.html %}
	<div class="container">
      <section class="main-content">
      	<section class="post-wrapper">
			<article class="post">
				<hgroup>
					<div class="post-title">
						<h3>{{ page.title }}</h3>
						{% if page.subtitle %}
						<h4>{{ page.subtitle }}</h4>
						{% endif %}
					</div>
					<h5>{{ page.date | date: "%B %-d, %Y" }}</h5>
				</hgroup>
				<p>
				{{ content }}
				</p>	
				<p>
					<strong>Tags:</strong>
					{{ page.tags }}
				</p>
				<a href="javascript:history.back()">Back to Posts</a>
			</article>
			{% include sidebar.html %}
		</section>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>